.next/
node_modules/
data/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.local.save
*.log
*.bak
*.tsbuildinfo
Smartcoreaimain/
.DS_Store
**/.DS_Store
